{% extends 'base.html' %}
{% set title='ResetPassword' %}

{% block title %}{{ title }} Page {% endblock %}

{% block page_head_css %}
    <link rel="stylesheet" href={{url_for('reset_password.static', filename='css/reset-password.css')}}>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="forms" action="/login_page" method="POST">
            <label for="uname" class="formsLabel"><b>איפוס סיסמה</b></label><br>
            <br><br>
            <label for="email" class="formsLabel"><b>הכנס את כתובת המייל</b></label> <br>
            <input type="email" class="formsInputs" placeholder="הזן אימייל" id="email" name="email" required> <br>
            <input type="image" src='{{url_for('reset_password.static', filename='media/send.svg')}}' />
        </form>
    </div>
{% endblock %}