{% extends 'base.html' %}
{% set title='CreateRide' %}

{% block title %}{{ title }} Page {% endblock %}

{% block page_head_css %}
    <link rel="stylesheet" href={{url_for('ride_details.static', filename='css/ride-details.css')}}>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="forms" action="/Success_page" method="post">
            <div class="header">פרטי הטרמפ</div><br><br>
            <label for="rideDate"><b>תאריך הטרמפ</b></label><br>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <input type="date" id="txtDate" name="txtDate" required><br>
            <label for="destination" ><b>היעד</b></label><br>
            <input type="text" id="destination" name="destination" placeholder="בחר את היעד" ><br>
            <label for="leavingTime"><b>שעת יציאה</b></label><br>
            <input type="time" id="leavingTime" name="leavingTime" required><br>
            <label for="Maxpassengers"><b>כמות נוסעים מקסימלית</b></label><br>
            <input type="number" min="1" max="4" id="Maxp" name="Maxp" required><br>
            <label for="price"><b>מחיר לנוסע</b></label><br>
            <input type="number" id="price" min="1" name="price" required><br>
            <label for="FreeText"><b>טקסט חופשי</b></label><br>
            <input type="text" id="FreeText" name="FreeText" ><br><br>
            <label><input type="checkbox" checked="checked" id="pets" name="pets"> מותר בעלי חיים </label><br><br>
            <button type="submit"> שמור שינויים</button><br>
        </form>
    </div>
{% endblock %}