
/* 
* {
    box-sizing: border-box;
    } */

    body {  margin:0px;
        padding:0px;
        font-family: sans-serif;
        background: #739cb8;}
   
    /* form {border: 3px solid #f1f1f1 ;outline-width: medium;;} */

    /* תיבות הטקסט */
    input[type=text], input[type=password], input[type=email], input[type=date], input[type=time]  {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgb(6, 99, 154);
        /* background-color:rgb(6, 154, 240); */
        /* border-radius: 4px; */
        box-sizing: border-box;
        /* border-radius: 8px; */
        /* width: 280px; */
        /* padding: 30px; */
        /* position: absolute; */
        top: 50%;
        left: 50%;
        border-radius:20px;
        /* transform: translate(-50%,-50%); */
        background: #191919;
        text-align: center;
        display: block;
        color: white;
  
      }



    button {
    /* background-color: #08b3ed;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%; */

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #05469c;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
    background: #191919;
    } 

    
    button:hover {
    opacity: 0.8;
    }

    .header{
        margin-left: auto ;  
        margin-right: auto; 
        text-align: center;
        font-weight: bold;
        font-size: larger;

        
    }

    #img1{
        margin-left: auto ;  
        margin-right: auto; 
        font-weight: bold;
       

    }

    

    
/* === LOGO STYLE  === */
.AppLogo h1 {
    text-transform: capitalize;
  }
  .AppLogo h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 5px;
    content: "";
    background-color: #1e00c5;
  }
  /* עיצוב הכתוב התחתון בלוגו */
  .AppLogo h1 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
  }
  /* מרכוז הכתוב בלוגו */
  .AppLogo h1 {
    text-align:center;
  }
  /* מיקום הקו הכחול בלוגו */
  .AppLogo h1:before {
    left:50%; margin-left:-30px;
  }
  
/* ------- Helper Styles -------------*/

/* מה זה?? */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* מעצב את מיקומם במסך */
div {
  position: relative;
  background: #ffffff72;
  width: 90%;
  max-width: 500px;
  padding: 2em;
  margin: 1.5em auto;
  border: 3px solid rgba(0, 0, 0, 0.08);
}

/* h1:before,
h1:after {
  background-color: #c50000;
} */

