<!DOCTYPE html>
<html dir="rtl" lang="heb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RidaShareSignIn</title>
    <link rel = "icon" href ="../static//Pics and Icons/carIcon.svg" type = "image/x-icon">
    <script defer src="../static/js/login-js.js"> </script>
    <script defer src="../static/js/nabBar.js"></script>
    <!--<link rel="stylesheet" href="../static/CSSproject.css">-->
    <link rel="stylesheet" href="../static/page-template.css">
    <link rel="stylesheet" href="../static/create-account.css">
</head>
<body>
    <div class="container">
        <!-- Logo -->
        <div class="AppLogo">
            <h1>say WHAT?<br><span>SAY RIDE</span> </h1>
        </div>
        <!--End Logo-->
        <!--navBar-->
        <div class="navBar">
            <div>
                <a class="res_nav_heading">תפריט</a>
                <div class="nav_btn">
                    <hr/>
                    <hr/>
                    <hr/>
                </div>
            </div>
            <ul id="nav">
                <li><a href="login-page.HTML">התנתק</a></li>
                <li><a href="rides-history.html">היסטוריית נסיעות</a></li>
                <li><a href="service-selection.html">דף הבית</a></li>
            </ul>
        </div><br>
        <!--End NavBar-->
        <!-- מילוי הפרטים האישיים בדף הכניסה -->
        <!-- מכריח למלא את הפרטים החסרים -->
        <form class="forms" action="service-selection.html" method="post">
            <div class="header">ברוכים המצטרפים עוד רגע והטרמפ מוכן</div><br><br>
            <label for="uname"><b>שם משתמש</b></label><br>
            <input type="text" minlength="2" maxlength="50" placeholder="הזן שם משתמש"  required><br><br>
            <label for="email"><b>כתובת מייל</b></label><br>
            <input type="email" id="email" placeholder="כתוב את כתובת המייל שלך" required><br>
            <label for="phone"><b>מספר טלפון</b></label><br>
            <input type="tel" pattern="[0-9]{3}[0-9]{2}[0-9]{5}" id="phone" required><br>
            <label for="date"><b>תאריך לידה</b></label><br>
            <input type="date" id="date"  required><br>
            <label for="psw"><b>סיסמה</b></label><br>
            <input type="password" class="formsInputs" placeholder="הזן סיסמה" id="psw" name="psw" minlength="6" maxlength="10" required><br>
            <input type="checkbox" class="formsInputs" onclick="myFunction()">הצג סיסמה<br><br>
            <label for="psw"><b>העלה תמונה תעודת סטודנט</b></label><br>
            <form action="#action#">
            <input type="file" id="myFile" name="filename"><br><br>
             <button type="submit"> צור חשבון</button><br>
        </form>
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container-fluid">
                <div class="footer nav navbar navbar-full bg-faded">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <p class="whitetext">© נוצר על ידי <strong>קבוצה 7</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Site footer -->
    </div>   
</body>
</html>