<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSSproject.css">
    <script defer src="../static/Log-in-JS.js"> </script>

      <!-- יצירת דף רפונסיבי -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

    <!--  מילוי פרטים אישיים להתחברות  -->

    <form action="action_page.php" method="post">

        <div class="container">
            <label for="uname"><b>שם משתמש</b></label><br>
            <input type="text" placeholder="Enter Username" id="uname" name="uname" required><br><br>

            <label for="psw"><b>סיסמה</b></label><br>
            <input type="password" placeholder="Enter Password" id="psw" name="psw" required><br>
            <input type="checkbox" onclick="myFunction()">הצג סיסמה<br><br>

            <button type="submit">התחבר</button><br>

            <label><input type="checkbox" checked="checked" id="remember" name="remember"> זכור אותי </label><br><br>
        
          <span class="psw">שכחת סיסמה? <a href="#">לחץ כאן</a></span><br>
         <span class="psw">משתמש חדש? <a href="#">לחץ כאן</a></span>
        
        </div>

    </form>




</body>

</html>