<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResetPassword</title>
    <link rel = "icon" href = "../static/carIcon.svg" type = "image/x-icon">
    <link rel="stylesheet" href="../static/CSSproject.css">
    <script defer src="../static/login-js.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <center>   
        <form class="forms" action="/todo" method="post">
            <div class="container">
                <label for="uname"><b>איפוס סיסמה</b></label><br>
                <br><br>
                <label for="email"><b>הכנס את כתובת המייל</label> <br>
                <input type="email" placeholder="Enter Email" id="email" name="email" required> <br>
                <img src='../static/send.svg' />
            </div>

        </form>
    </center> 

</body>
</html>