<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSSproject.css">

      <!-- יצירת דף רפונסיבי -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    

    
    <div class="container">
        <div class="header">בחר.י שירות מבוקש</div><br>

        <!-- התמונה שמעבירה אותך לדף לטפוס טרמם -->
        <label for="catchRide"><b>לתפוס טרמפ</b></label><br>
        <!-- לשנות לדף בוא נמצא לך טרמפ -->
        <a href="createAccount.html">
            <img alt="pic1" src="../static/find_ride_pic.svg" width="150" height="70">
            </a><br>

         <label for="OffersRide"><b>מציע טרמפ</b></label><br>
         <a href="rideDetails.html">
           <img alt="pic2" src="../static/new_ride_pic.svg" width="150" height="70">
         </a>
     </div>


</body>
</html>