.container{
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navBar"
    "form"
    "footer";
}
.AppLogo{
    grid-area: header;
}